# Dépendances
node_modules/
api/node_modules/
client/node_modules/

# Variables d'environnement (NE PAS COMMITER)
.env
api/.env
client/.env

# Build
client/dist/

# Système
.DS_Store
*.log
npm-debug.log*

# Editeur
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
